@model IEnumerable<Jinkuten.Models.Product>

@{
    ViewData["Title"] = "ShowAllProduct";
}

<h2>Product</h2>

<p>
    <a asp-action="AddProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsersId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsersId)
            </td>
            <td>
                <a asp-action="UpdateProduct" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="ShowAllReview" asp-route-id="@item.Id">Review</a> |
                <a asp-action="AddCart" asp-route-id="@item.Id">Cart</a> |
                <a asp-action="AddWishList" asp-route-id="@item.Id">WishList</a> |

            </td>
        </tr>
}
    </tbody>
</table>
